* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100vw;
    height: 100vh;
}

.column1 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("photo-1585202900225-6d3ac20a6962.avif");
}

#odinLogo {
    font-size: 25px;
    font-weight: 900;
    color: white;
}

.column2 {
    background-color: lightgoldenrodyellow;
}

#topRightSection {
    margin-top: 15%;
    font-size: 18px;
    padding: 50px;
}

