* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100vw;
    height: 100vh;
}

.column1 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("photo-1585202900225-6d3ac20a6962.avif");
}

#odinLogo {
    font-size: 25px;
    font-weight: 900;
    color: white;
}

.column2 {
    background-color: lightgoldenrodyellow;
}
/* make container 2 a grid with 3 rows that are spaced evenenly taking up the whole of the page  */
#container1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
}

#row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgoldenrodyellow;
    padding: 10%;
    font-size: large;
    font-weight: bold;
    background-color: rgb(248, 249, 249);
}

.formInput {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 400px;
    padding: 10px;
}

.formInputContainer {
    display: flex;
    flex-direction: column;
}

#row2 form {
    display: flex;
    justify-content: flex-start;
    padding-left: 10%; /* Add some left padding */
    gap: 20%; /* Add some gap between the items */
